.post {
  padding: 3rem 0;

  &-info {
    color: $default-tint;
    font-family: $body-copy;
    letter-spacing: 0.5px;
    text-align: left;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $body-titling;
    font-size: 3em;
    font-weight: bold;
    margin: 1rem 0;
    text-align: left;
  }

  &-line {
    border-top: 0.4rem solid $default-shade;
    display: block;
    margin: 0 0 3rem;
    width: 4rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
  }

  img + em {
    color: $default-tint;
    display: block;
    font-family: $body-titling;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }
}
