
@font-face {
  font-family: 'alegreyaregular';
  src: url('alegreya-regular.woff2') format('woff2'),
    url('alegreya-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreyaitalic';
  src: url('alegreya-italic.woff2') format('woff2'),
    url('alegreya-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreyabold';
  src: url('alegreya-bold.woff2') format('woff2'),
    url('alegreya-bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'alegreyabold_italic';
  src: url('alegreya-bolditalic.woff2') format('woff2'),
    url('alegreya-bolditalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
