
@font-face {
  font-family: 'ralewayblack';
  src: url('raleway-black.woff2') format('woff2'),
    url('raleway-black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayitalic';
  src: url('raleway-italic.woff2') format('woff2'),
    url('raleway-italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewayregular';
  src: url('raleway-regular.woff2') format('woff2'),
    url('raleway-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
